<table>
<tr>
    <th>Text</th>
    <th>Article ID</th>
    <th>Comment ID</th>
  </tr>
<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.text %></td>
    <td><%= comment.article_id %><br/></td>
    <td><%= comment.id %><br/></td>
  </tr>
<% end %>

</td>
